@()
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">


<button>Edit profile</button>
<h2>New session</h2>
<a href="@routes.Application.index" name="loginButton">Open new project</a>

<br>
<h2>Your sessions</h2>
<a href="@routes.Application.index" name="loginButton">Open your project (last modified 4/1/2020)</a>

<br>
<h2>Open public sessions</h2>
<a href="@routes.Application.index" name="loginButton">View public projects (4 open)</a>

<br>
<h2>Recordings</h2>
<a href="@routes.Application.index" name="loginButton">Open recording feed</a>
<br>
	<a href="@routes.Application.login" name="loginButton">Logout</a>

<br>

