@(currUser: String, allUsers: Iterable[String])(implicit request: RequestHeader, flash: Flash)

<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
<h1>Welcome, @currUser</h1>
<h2>New session</h2>
<a href="@routes.Application.index" name="loginButton">Open new project</a>

<br>
<h2>Your sessions</h2>
<a href="@routes.Application.index" name="loginButton">Open your project: Untitled (last modified 4/1/2020)</a>
<br>
<a href="@routes.Application.index" name="loginButton">Open your project: Gartosis (last modified 3/26/2020)</a>

<br>
<h2>Open public sessions</h2>
<a href="@routes.Application.publicLobby" name="loginButton">View public projects (4 open)</a>

<br>
<h2>Recordings</h2>
<a href="@routes.Application.recordings" name="loginButton">Open recording feed</a>
<br>
<a href="@routes.Application.editProfile">Edit Your Profile</a>
<br>
	<a href="@routes.Application.login" name="loginButton">Logout</a>

<br>

