@(currUser: String, currProj: String)(implicit request: RequestHeader, flash: Flash)


@main("Play Midi") {
<template>
   <canvas class="gridCanvas"
         :width="width"
         :height="height"
   ></canvas>
</template>

<style scoped>
   .gridCanvas {
      position: relative !important;
      border: lightgrey 1px solid;
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
   }
</style>
 <!-- <h2>Play and Scala.js share a same message</h2>
  <ul>
    <li>Play shouts out: <em>////message</em></li>
    <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
  </ul>
-->
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">

<h1>@currUser's Project</h1>
<h2>Project name: @currProj</h2>
  <h2>Initiated Midi Playback</h2>
  <!--<div style="background-image: url('@routes.Assets.versioned("images/DAWPic.png")');">-->
<canvas class="gridCanvas" id="myCanvas" width="800" height="400"></canvas>

  <li>You played note: <input type="text" id="notePlayed"></input></li>
  <button id="startRec" onclick="playGrid()">Play recording</button>
  <button id="deleteRec" onclick="deleteRecording()">Delete recording</button>
<br>
  <button>Invite Users</button>
  <input type="text" placeholder="Enter username to invite here">
  <br>
  <a href="@routes.Application.index" name="loginButton">Save project</a>
<br>
<a href="@routes.Application.home" name="loginButton">Home</a>



  <audio id = "kick">
    <source src="@routes.Assets.versioned("sounds/virtual-drum-machine/kick.mp3")" type="audio/mpeg">
  </audio>
 <audio id = "snare">
    <source src="@routes.Assets.versioned("sounds/virtual-drum-machine/snare.mp3")" type="audio/mpeg">
  </audio>
   <audio id = "hihat">
    <source src="@routes.Assets.versioned("sounds/virtual-drum-machine/hihat-closed.mp3")" type="audio/mpeg">
  </audio>
   <audio id = "ride">
    <source src="@routes.Assets.versioned("sounds/virtual-drum-machine/ride.mp3")" type="audio/mpeg">
  </audio>
   <audio id = "stick-hit">
    <source src="@routes.Assets.versioned("sounds/virtual-drum-machine/stick-hit.mp3")" type="audio/mpeg">
  </audio>
   <audio id = "crash">
    <source src="@routes.Assets.versioned("sounds/virtual-drum-machine/crash.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "C4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/C4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "Db4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Db4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "D4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/D4.mp3")" type="audio/mpeg">
  </audio>


  <audio id = "Eb4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Eb4.mp3")" type="audio/mpeg">
  </audio>

 <audio id = "E4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/E4.mp3")" type="audio/mpeg">
  </audio>
  <audio id = "F4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/F4.mp3")" type="audio/mpeg">
  </audio>


  <audio id = "Gb4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Gb4.mp3")" type="audio/mpeg">
  </audio>


  <audio id = "G4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/G4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "Ab4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Ab4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "A4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/A4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "Bb4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Bb4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "B4">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/B4.mp3")" type="audio/mpeg">
  </audio>

  <audio id = "C5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/C5.mp3")" type="audio/mpeg">
  </audio>
    <audio id = "Db5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Db5.mp3")" type="audio/mpeg">
  </audio>
    <audio id = "D5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/D5.mp3")" type="audio/mpeg">
  </audio>

    <audio id = "Eb5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Eb5.mp3")" type="audio/mpeg">
  </audio>
      <audio id = "E5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/E5.mp3")" type="audio/mpeg">
  </audio>
    <audio id = "F5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/F5.mp3")" type="audio/mpeg">
  </audio>
    <audio id = "F#5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Gb5.mp3")" type="audio/mpeg">
  </audio>

    <audio id = "G5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/G5.mp3")" type="audio/mpeg">
  </audio>
      <audio id = "Ab5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Ab5.mp3")" type="audio/mpeg">
  </audio>
    <audio id = "A5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/A5.mp3")" type="audio/mpeg">
  </audio>

    <audio id = "Bb5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/Bb5.mp3")" type="audio/mpeg">
  </audio>
      <audio id = "B5">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/B5.mp3")" type="audio/mpeg">
  </audio>
    <audio id = "C6">
    <source src="@routes.Assets.versioned("sounds/virtual-piano/C6.mp3")" type="audio/mpeg">
  </audio>


  <!--<script src="WebMIDIAPI.min.js"></script>    -->
  <script src="@routes.Assets.versioned("javascript/handleMidi.js")"></script>
  <script>

    let takenSpaces = []

    //var recButton = document.getElementById("startRec");
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");   
     let s = 28
     let pL = s
     let pT = s
     let pR = s
     let pB = s
     
     let rectanglesX = []
     let rectanglesY = []
   ctx.strokeStyle = 'black'
   ctx.beginPath()
   for (var x = pL; x <= 800 - pR; x += s) {

      ctx.moveTo(x, pT)
      ctx.lineTo(x, 400 - pB)
   }
   for (var y = pT; y <= 400 - pB; y += s/2) {
    var btn = document.createElement("BUTTON");

      ctx.moveTo(pL, y)
      ctx.lineTo(800 - pR, y)
   }

    for (var x = pL; x <= 800 - pR; x += s) {
      for (var y = pT; y <= 400 - pB; y += s/2) {
        //ctx.fillStyle = "#000000"
        //ctx.fillRect(x, y, x+2.8, y+1.4)
        rectanglesX.push(x)
        rectanglesY.push(y)

     }
    }
   ctx.stroke()
    isPressingShift = false
    function drawGridElement(xPos, yPos, isAdding) {
       if(isAdding) {
        ctx.fillStyle = "#FF0000"

        ctx.fillRect(rectanglesX[xPos]+1, rectanglesY[yPos]+1, 26, 12)

      } else {
        let correctIndex = 0;
        for(let i=0; i < indexesOfReds.length; i++) {
          if(indexesOfReds[i] == [xPos, yPos]) correctIndex=i
        }
        //indexesOfReds.splice(correctIndex, 1)


        ctx.fillStyle = "#FFFFFF"
        ctx.fillRect(rectanglesX[xPos]+1, rectanglesY[yPos]+1, 26, 12)
        console.log(rectanglesX[0])
        console.log(myCanvas.offsetTop)
        console.log(document.documentElement.scrollTop)
      }

    }
    let indexesOfReds = []
       myCanvas.addEventListener('mousedown', (e) => {
         console.log(indexesOfReds)
         let pos = {
          x: e.clientX-myCanvas.offsetLeft,
          y: e.clientY-myCanvas.offsetLeft+document.documentElement.scrollTop

          };
       
          let realX=0;
          let ix = 0;
          let realY=0;
          let iy = 0;


        if(event.shiftKey) {
        drawGridElement(ix, iy, false)
        indexesOfReds.pop()

        } else {
                  for(let i=0; i < rectanglesX.length; i++) {
            if(rectanglesX[i] < pos.x) {
                realX = rectanglesX[i]

                ix = i;
            }
        }
        for(let i=0; i < rectanglesY.length; i++) {
            if(rectanglesY[i] < pos.y) {
                realY = i

                iy = i
            }
        }
        if(!indexesOfReds.includes([ix,iy])){
        indexesOfReds.push([ix,iy])
      }
              drawGridElement(ix, iy, true)

        }

    });
  ctx.beginPath()
  ctx.lineWidth = 5
  ctx.moveTo(28,26)
  ctx.lineTo(28,400-28)
  ctx.strokeStyle = "blue"
  ctx.stroke()
  let lastPos = 28
let toggled = true
myCanvas.addEventListener('keydown', (e) => {
    if(e.keyCode == 32){
        //your code
        console.log("space pressed")
        toggled=!toggled
        lastPos = 28
    }
});

setInterval(spacebarToggle, 50);

function drawBoard() {
  ctx.lineWidth = 1
   ctx.strokeStyle = 'black'
   ctx.beginPath()
   for (var x = pL; x <= 800 - pR; x += s) {

      ctx.moveTo(x, pT)
      ctx.lineTo(x, 400 - pB)
   }
   for (var y = pT; y <= 400 - pB; y += s/2) {
    var btn = document.createElement("BUTTON");

      ctx.moveTo(pL, y)
      ctx.lineTo(800 - pR, y)
   }

    for (var x = pL; x <= 800 - pR; x += s) {
      for (var y = pT; y <= 400 - pB; y += s/2) {
        ctx.fillStyle = "#FFFFFF"
        ctx.fillRect(x, y, x+2.8, y+1.4)
        rectanglesX.push(x)
        rectanglesY.push(y)

     }
    }
   ctx.stroke()
}
function spacebarToggle() {
  if(lastPos > 800-28) lastPos=28
   if(toggled) {
    drawBoard()
    for(let i = 0; i < indexesOfReds.length; i++) {
      drawGridElement(indexesOfReds[i][0], indexesOfReds[i][1], true)
      if(rectanglesX[indexesOfReds[i][0]]-lastPos < 2 && rectanglesX[indexesOfReds[i][0]]-lastPos>-1) {
        console.log("At location" + rectanglesY[indexesOfReds[i][1]])
        let indexLocation = 350
        let midiStart = 60
        while (indexLocation >= 28) {
        if(rectanglesY[indexesOfReds[i][1]] == indexLocation) {
        getMIDIMessageArray([144, midiStart, 64])
        }
        indexLocation -= 14
        midiStart += 1;
      }
        //playNote(48, true)
      }
    }
    lastPos += 2
    ctx.beginPath()
    ctx.lineWidth = 5
    ctx.moveTo(lastPos,26)
    ctx.lineTo(lastPos,400-28)
    ctx.strokeStyle = "blue"
    ctx.stroke()
   }
}

  </script>
  <!--<div id="root"></div>-->
}
