@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login") {


<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap")">

<h2>Login:</h2>
	<form method="post" action="/validatePost1">
	   @helper.CSRF.formField
       Username: <input type="text" name="username" id="username-login"></input>
       <br>
       Password: <input type="password" name="password" id="password-login"></input>
       <br>
       <input type="submit"></input>
	</form>

	    <h1>Register User</h1>
	<form method="post" action="@routes.Application.createUser()">
	   @helper.CSRF.formField

       <!--Username: <input type="text" name="username"></input>
       <br>
       Password: <input type="password" name="password"></input>
       <br>
       <input type="submit"></input>-->
       @helper.inputText(loginForm("Username"))
	   @helper.inputText(loginForm("Password"))
	   @helper.select(loginForm("Privacy"), Seq[(String, String)](("Private", "Private"), ("Public", "Public")))
	   <div class="form-actions">
	   	<button type="submit">Login</button>
	   </div>
	</form>

}
<!--<h2>Create User</h2>
<br>
Username: <input type="text" id="createName">
<br>
Password: <input type="password" id="createPass">
<br>
<button onclick="createUser()">Create User</button>-->