@(currUser: String)(implicit request: RequestHeader, flash: Flash)

<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">


<h1>Public Sessions in Progress:</h1>
<a href="@routes.Application.index" name="loginButton">User504's Session</a>
<br>
<a href="@routes.Application.index" name="loginButton">User163's Session</a>
<br>
<a href="@routes.Application.index" name="loginButton">User777's Session</a>
<br>
<a href="@routes.Application.index" name="loginButton">Sam's Session</a>
<br>




<a href="@routes.Application.home" name="loginButton">Home</a>
